@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-black: 17 24 28; /* #11181C */
    --color-white: 255 255 255; /* #fff */
    --color-primary: 144 132 210; /* #9084D2 */
    --color-link: 82 9 176; /* #5209B0 */
    --color-accent-light: 250 246 253; /* #FAF6FD */
    --color-accent-dark: 72 50 103; /* #483267 */
  }
}
